@import url(/aluraBooks/styles/header.css);
@import url(/aluraBooks/styles/banner.css);
@import url(/aluraBooks/styles/carrossel.css);
@import url(/aluraBooks/styles/topicos.css);
@import url(/aluraBooks/styles/contato.css);
@import url(/aluraBooks/styles/rodape.css);

:root {
    --cor-de-fundo: #EBECEE;
    --cor-de-fundo-header: #ffffff;
    --cor-texto-banner: #ffffff;
    --cor-titulo-menu: #EB9B00;
    --cor-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --cor-titulo-livro-card: #002F52;
    --fonte-principal: "Poppins";
    --fonte-secundaria: "Josefin Sans";
    --cor-fonte-cabecalho: #000000;
    --cor-fonte-rodape-titulo: #858585;
    --cor-fonte-rodape-itens: #474646;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

