.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url(/aluraBooks/img/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container__botao:checked ~ .container__rotulo > .cabecalho__menu-hamburguer {
    background-image: url("../img/Menu Aberto.svg");
}

.container__botao:checked ~ .container__rotulo {
    background: var(--cor-degrade);
}

.cabecalho {
    background-color: var(--cor-de-fundo-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked ~ .lista-menu { /* o ~ é um combinador css */
    display: block;
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    background-color: var(--cor-de-fundo-header);
    margin: -1px;
}

.lista-menu__titulo {
    color: var(--cor-titulo-menu);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--cor-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /*para aplicar a cor de backgound apenas no texto*/
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
}

.container__botao, .container__titulo, .opcoes, .container__texto {
    display: none;
}

.container__logo {
    padding: 0 1em;
}

@media screen and (min-width: 1024px) {
    .container__logo {
        padding: 0 1em 0 3em;
    }

    .container__fav-user {
        padding: 0 3em;
    }

    .container__titulo, .container__titulo--negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .container__titulo {
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito{
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--cor-fonte-cabecalho);
    }

    .container__imagem--coracao, .opcoes__botao, .cabecalho__menu-hamburguer {
        display: none;
    }

    .opcoes__botao:checked ~ .lista-menu {
        display: block;
        width: auto;
    }

    .opcoes__botao:checked~.opcoes__rotulo>.opcoes__item {
        background: var(--cor-degrade);
        color: var(--cor-de-fundo-header);
    }

    .opcoes__item {
        padding: 2em 1em;
    }

    .lista-menu__item:hover {
        background: var(--cor-degrade);
    }

    .lista-menu__item:hover>.lista-menu__link {
        -webkit-text-fill-color: var(--cor-de-fundo-header);
    }
}

@media screen and (min-width: 1728px) {
    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--cor-fonte-cabecalho);
    }

    .opcoes {
        margin: 0 auto 0 3rem;
    }

    .container__texto {
        display: block;
    }
}