hr {
    margin: 0;
    background-color: black;
}

.rodape {
    background-color: var(--cor-de-fundo-header);
    padding: 1em;
}

.lista-rodape {
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape {
        display: flex;
        justify-content: space-around;
    }

    .rodape__titulo {
        font-size: 24px;
    }

    .rodape__titulo, .lista-rodape {
        margin: 5rem 0 3rem 0;
    }

    .lista-rodape__titulo {
        color: var(--cor-fonte-rodape-titulo);
        text-transform: uppercase;
    }

    .lista-rodape {
        display: block;
    }

    .lista-rodape__item {
        display: flex;
        align-items: center;
        gap: .5em;
        margin: 1em 0 1em 0;
    }

    .lista-rodapé__link {
        text-decoration: none;
        color: var(--cor-fonte-rodape-itens);
    }
}

@media screen and (min-width: 1728px) {
    .lista-rodape {
        border-left: 1px solid var(--cor-fonte-rodape-titulo);
        padding-left: 1em;
    }
}